VITE_API_BASE_URL="http://localhost:8082/api"
VITE_API_URL="http://localhost:8082/api"
VITE_PAPERSIGNAL_SOCKET_URL="https://mailserver-production.up.railway.app"
VITE_PAYSTACK_PUBLIC_KEY="your_paystack_public_key"
